{% extends 'base.html' %}

{% block title %}
    {{data.title}}
{% endblock title %}


{% block content %}
<table>
    <thead>
        <th>ID</th>
        <th>BODY</th>
        <th>ACTIONS</th>
    </thead>
    <tbody>
        {% for i in data.posts %}
        <tr>
            <td>
                <a href="{{url_for('main.get_post',id=i.id)}}">{{i.id}}</a>
            </td>
            <td>{{i.body}}</td>
            <td>
                <a href="{{url_for('main.delete',id=i.id)}}">DELETE</a>
            </td>
        </tr>
            
        {% endfor %}
    </tbody>
</table>


    
{% endblock %}